.BestSeller {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.loadmore {
    margin: 0 auto;
    text-align: center;
    display: inline-block;

    &-btn {
        width: 200px;
        background-color: #000;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 0.8;
        position: relative;

        &:hover {
            opacity: 1;
            transition: 0.5s linear;
        }

        .loadmore-loading {
            position: absolute;
            top: 0;
        }
    }

}